body{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    padding: 0;
    margin: 0;
}

img{
    width: 100%;
}

#main-header {
    background-image: url("../Bilder/Bruk\ denne.webp");
    background-size: cover; 
    background-position: center;
    text-align: center;
    padding: 100px 0;
    color: white;
}

.header1 ul{
    display: flex;
    list-style: none;
    gap: 10%;
    flex-wrap: wrap;
    width: 100%;


}

.header1 a:hover {
    color: lightgrey;
}

#footer1 {
    background-color:black;
    color: white;
    width: 100%;

}
#footer1 a{
color: white;
}

.main-section {
    max-width: 70%;
    min-width: 400px;
}

.main-section section { /* Hvordan får jeg de til å horisontalt*/
    box-shadow: 5px 5px 5px;
    min-width: 300px;
    max-width: 400px;
    padding: 2%;
    flex-wrap: wrap;
}

.aside-section {
    width: 30%;
    min-width: 350px;
    background-color: rgb(23, 45, 171);
    padding: 2%;
    box-shadow: 5px 5px 5px;
    margin: 0 auto;
    max-width: 1200px;
    border: 3px solid #000000;

}
